
{% extends 'base.html.twig' %}

{% block title %}Update Reservation{% endblock %}



{% block body %}
ajout de reservation avec succé
<a href="{{ path('list_reservation2') }}" class="btn btn-secondary">Retour à la liste</a>


{% endblock %}